<nb-card>
    <nb-card-body>
        <nb-tabset (changeTab)="onChangeTab($event)">
            <nb-tab tabTitle="{{ modelName }} Information">
                <div class="col-lg-12">

                    <form class="form-horizontal" name="consumerAddForm" (ngSubmit)="consumerFormSubmit(consumerAddForm)" #consumerAddForm="ngForm" novalidate>
                        <fieldset>
                            <legend></legend>
                            <div class="row">
                                    <div class="col-sm-6" *ngFor = "let attribute of consumerAttributes">
                                        <div *ngIf="attribute.params.type == 'string'">
                                            <div class="form-group">
                                                <label>{{ attribute.name }}</label>
                                                <div class="input-group"><input type="text" nbInput fullWidth placeholder="{{ attribute.name }}" name="{{ attribute.name }}"  [(ngModel)]="consumerModelData[attribute.name]" value="{{ consumerModelData[attribute.name] }}" /></div>
                                            </div>
                                        </div>

                                        <div *ngIf="attribute.params.type == 'email'">
                                            <div class="form-group">
                                                <label>{{ attribute.name }}</label>
                                                <div class="input-group"><input type="email" nbInput fullWidth placeholder="{{ attribute.name }}" name="{{ attribute.name }}"  [(ngModel)]="consumerModelData[attribute.name]" value="{{ consumerModelData[attribute.name] }}" /></div>
                                            </div>
                                        </div>

                                        <div *ngIf="attribute.params.type == 'integer'">
                                            <div class="form-group">
                                                <label>{{ attribute.name }}</label>
                                                <div class="input-group"><input type="text" nbInput fullWidth placeholder="{{ attribute.name }}" name="{{ attribute.name }}"  [(ngModel)]="consumerModelData[attribute.name]" value="{{ consumerModelData[attribute.name] }}" /></div>
                                            </div>
                                        </div>

                                        <div *ngIf="attribute.params.type == 'decimal'">
                                            <div class="form-group">
                                                <label>{{ attribute.name }}</label>
                                                <div class="input-group"><input type="text" name="{{ attribute.name }}" nbInput fullWidth placeholder="{{ attribute.name }}" [(ngModel)]="consumerModelData[attribute.name]" value="{{ consumerModelData[attribute.name] }}" /></div>
                                            </div>
                                        </div>

                                        <div *ngIf="attribute.params.type == 'enumeration'">
                                            <div class="form-group">
                                                <label>{{ attribute.name }}</label>
                                                <select class="form-control" name="{{ attribute.name }}" [(ngModel)]="consumerModelData[attribute.name]">
                                                    <option *ngFor="let enumval of attribute.params.enum" value="{{enumval}}" selected='{{(enumval == consumerModelData[attribute.name])? "selected" : ""}}' >{{enumval}}</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <button type="button" class="btn btn-sm btn-outline-info" style="margin-right: 5px;">Back</button>
                                        <button class="btn btn-sm btn-outline-secondary">Submit</button>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">&nbsp;</div>
                                </div>
                            </div>
                        </fieldset>
                    </form>

                </div>
            </nb-tab>
            <nb-tab accent="info" [nbSpinner]="loading" nbSpinnerStatus="info" nbSpinnerSize="xlarge" tabTitle="{{tabAttribute.name}}" *ngFor = "let tabAttribute of getRelatedTabs">
                <div class="col-lg-12" *ngIf="tabData != ''">
                    <p style="margin-top: 5px;">
                        <label style="margin-top: 0.5rem;">Page Size&nbsp;:&nbsp;</label>
                        <input (change)="pageSizeChange($event, tabAttribute.params)" class="select-xs input-xs" type="number" name="tabShowRecordPerPageCount" value="{{ tabShowRecordPerPageCount }}">                        
                        <span style="float: right;">
                            <input type="text" (change)="getTableData(tabAttribute.params)" nbInput placeholder="Search in all columns" class="form-control" fieldSize="small" name="searchString" value="{{ searchString }}" />
                        </span>
                        <a routerLink="/pages/consumer/manage/edit/{{ tabAttribute.params.columnName }}" class="btn btn-info btn-xs" data-toggle="tooltip" title="Add New" style="float: right; margin-right: 5px;">
                            <b style="font-weight: bolder !important;"><i class="fa fa-plus"></i></b>
                        </a>
                        <button (click)="importConsumers($event);" class="btn btn-info btn-xs" data-toggle="tooltip" title="Import" style="float: right; margin-right: 5px;">
                            <b style="font-weight: bolder !important;"><i class="fa fa-download"></i>&nbsp;Import</b>
                        </button>
                        <button (click)="exportConsumers($event);" class="btn btn-info btn-xs" data-toggle="tooltip" title="Export" style="float: right; margin-right: 5px;">
                            <b style="font-weight: bolder !important;"><i class="fa fa-upload"></i>&nbsp;Export</b>
                        </button>
                        <button (click)="deleteConsumers($event);" class="btn btn-info btn-xs" data-toggle="tooltip" title="Remove Selected" style="float: right; margin-right: 5px;">
                            <b style="font-weight: bolder !important;"><i class="fa fa-check-square"></i>&nbsp;<i class="fa fa-lg ion-trash-b"></i>&nbsp;Remove Selected</b>
                        </button>
                    </p>
                    <div class="table-responsive">
                        <table class="table table-btransaction table-hover" style="margin: 0;">
                            <thead>
                                <tr>
                                    <th class="text-left"><input type="checkbox" id="headCheck" (click)="toggleCheckBoxes($event);" /></th>
                                    <th>Action</th>
                                    <th *ngFor="let k of tabListKey" class="thChangeIcon" (click)="filterColumn($event, k, tabAttribute.params.targetColumnName, orderByState);" id="{{k}}" data-order="ASC" attr.data-columnName="{{k}}" attr.data-columnTitle="{{k}}">{{k}} <i class="fa ion-funnel"></i></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let row of tabData">
                                    <td class="text-left">
                                        <input (click)="getDeleteRowIds($event, row['id'], tabAttribute.params.targetColumnName);" type="checkbox" class="rowChecks" value="{{row['id']}}" />
                                    </td>
                                    <td>
                                        <a routerLink="/pages/consumer/manage/edit/{{ tabAttribute.params.columnName }}/{{row['id']}}" class="text-info btn-xs" data-toggle="tooltip" title="Manage / Modify Record"><i class="fa fa-edit"></i></a>&nbsp;&nbsp;
                                        <a (click)="deleteRecord($event, row['id'], tabAttribute.params.targetColumnName);" class="text-danger btn-xs" data-toggle="tooltip" title="Remove Record"><i class="fa fa-lg ion-trash-b"></i></a>
                                    </td>
                                    <td *ngFor="let k of tabListKey">{{row[k]}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div style="display: inline-block; margin-top: 5px !important;">Showing {{tabShowRecordCount}} out of {{totalRecordCount}} record(s)</div>
                        <div style="float: right;">
                        <button (click)="pagePrev($event, tabAttribute.params);" class="btn btn-info btn-xs" title="Go to Previous Page" style="padding: 3px 5px; cursor: pointer;"><i class="fa fa-2x ion-reply"></i></button>
                        &nbsp;&nbsp; Page No.&nbsp;:&nbsp;
                        <input (change)="pageChange($event, tabAttribute.params)" class="select-xs input-xs" type="number" name="tabCurrentPage" value="{{ tabCurrentPage }}">/{{ totalPages }}&nbsp;&nbsp;&nbsp;
                        <button (click)="pageNext($event, tabAttribute.params);" class="btn btn-info btn-xs" title="Go to Next Page" style="padding: 3px 5px; cursor: pointer;"><i class="fa fa-2x ion-forward"></i></button>
                    </div>
                </div>
                <div class="col-lg-12" *ngIf="tabData == ''">
                    <p>&nbsp;<br />&nbsp;</p>
                    <h3 class="text-success text-center"><i class="fa fa-exclamation"></i> Sorry, No Record Found</h3>
                </div>
            </nb-tab>
            
        </nb-tabset>
    </nb-card-body>
</nb-card>