@import '../../../@theme/styles/themes';

@include nb-install-component() {
  .full-width {
    flex: 1;
    min-width: 220px;
  }

  nb-checkbox {
    margin-bottom: 1rem;
  }

  .form-inline > * {
    @include nb-ltr(margin, 0 1.5rem 1.5rem 0);
    @include nb-rtl(margin, 0 0 1.5rem 1.5rem);
  }

  nb-card.inline-form-card nb-card-body {
    padding-bottom: 0;
  }

  select.ng-dirty.ng-invalid.ng-touched { border-color: #F00; }

  input.ng-dirty.ng-invalid.ng-touched { border-color: #F00; }

  div.alert.alert-danger {
    min-width: inherit !important;
    width: inherit !important;
    max-width: inherit !important;
    color: #721c24 !important;
    background-color: #f8d7da !important;
    border-color: #f5c6cb !important;
  }

  select { cursor: pointer !important; }

  th, a.btn, button.btn, input.btn { cursor: pointer !important; }

  .disabled:hover { cursor: not-allowed !important; }

}
