<nb-card accent="info" [nbSpinner]="loading" nbSpinnerStatus="info" nbSpinnerSize="xlarge">
    <nb-card-header>
        <label style="padding-top: 0.375rem; padding-left: 1.25rem;">Manage {{ modelName }}</label>
        <span style="float: right; margin-right: 1.25rem;">
            <!-- <input type="text" nbInput (change)="getSearchStringData($event)" placeholder="Search in all columns" class="form-control" fieldSize="small" name="searchString" value="{{ searchString }}" /> -->
            <input (change)="getSearchStringData($event)" class="select-xs input-xs" type="text" [(ngModel)]="searchString" #ctrl="ngModel">
        </span>
    </nb-card-header>
    <nb-card-body>
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <p style="margin-top: 5px;">
                        <label style="margin-top: 0.5rem;">Page Size&nbsp;:&nbsp;</label>
                        <input (change)="pageSizeChange($event)" class="select-xs input-xs" type="number" name="tabShowRecordPerPageCount" value="{{ tabShowRecordPerPageCount }}">                        
                        <a routerLink="/pages/consumer/manage/edit/{{ modelName }}" class="btn btn-info btn-xs" data-toggle="tooltip" title="Add New" style="float: right; margin-right: 5px;">
                            <b style="font-weight: bolder !important;"><i class="fa fa-plus"></i></b>
                        </a>
                        <button (click)="showLargeModal();" class="btn btn-info btn-xs" data-toggle="tooltip" title="Import" style="float: right; margin-right: 5px;">
                            <b style="font-weight: bolder !important;"><i class="fa fa-download"></i>&nbsp;Import</b>
                        </button>
                        <button (click)="exportToExcel($event, tabData, modelName);" class="btn btn-info btn-xs" data-toggle="tooltip" title="Export" style="float: right; margin-right: 5px;">
                            <b style="font-weight: bolder !important;"><i class="fa fa-upload"></i>&nbsp;Export</b>
                        </button>
                        <button class="btn btn-info btn-xs" data-toggle="tooltip" title="Remove Selected" style="float: right; margin-right: 5px;">
                            <b style="font-weight: bolder !important;"><i class="fa fa-check-square"></i>&nbsp;<i class="fa fa-lg ion-trash-b"></i>&nbsp;Remove Selected</b>
                        </button>
                    </p>
                    <div class="table-responsive">
                        <table class="table table-btransaction table-hover" style="margin: 0;">
                            <thead>
                                <tr>
                                    <th class="text-left"><input type="checkbox" id="headCheck" (click)="toggleCheckBoxes($event);" /></th>
                                    <th>Action</th>
                                    <th *ngFor="let k of tabListKey" class="thChangeIcon" (click)="filterColumn($event, k, orderByState);" id="{{k}}" data-order="ASC" attr.data-columnName="{{k}}" attr.data-columnTitle="{{k}}">{{k}} <i class="fa ion-funnel"></i></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let row of tabData">
                                    <td class="text-left">
                                        
                                        <input (click)="getDeleteRowIds($event, row['id']);" name="consumers[]" type="checkbox" class="rowChecks" value="{{row['id']}}"/>
                                      
                                        
                                    </td>
                                    <td>
                                        <a routerLink = "/pages/consumer/manage/edit/{{ modelUrl }}/{{row['id']}}" class="text-info btn-xs" data-toggle="tooltip" title="Manage / Modify Record"><i class="fa fa-edit"></i></a>&nbsp;&nbsp;
                                        <a (click)="deleteRecord($event, row['id'], modelName);" class="text-danger btn-xs" data-toggle="tooltip" title="Remove Record"><i class="fa fa-lg ion-trash-b"></i></a>
                                    </td>
                                    <td *ngFor="let k of tabListKey">{{row[k]}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div style="display: inline-block; margin-top: 5px !important;">Showing {{tabShowRecordCount}} out of {{totalRecordCount}} record(s)</div>
                        <div style="float: right;">
                        <button (click)="pagePrev($event);" class="btn btn-info btn-xs" title="Go to Previous Page" style="padding: 3px 5px; cursor: pointer;"><i class="fa fa-2x ion-reply"></i></button>
                        &nbsp;&nbsp; Page No.&nbsp;:&nbsp;
                        <input (change)="pageChange($event)" class="select-xs input-xs" type="number" name="tabCurrentPage" value="{{ tabCurrentPage }}">/{{ totalPages }}&nbsp;&nbsp;&nbsp;
                        <button (click)="pageNext($event);" class="btn btn-info btn-xs" title="Go to Next Page" style="padding: 3px 5px; cursor: pointer;"><i class="fa fa-2x ion-forward"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </nb-card-body> 
</nb-card>